{% extends "irmasoftHomeBundle::layout.html.twig" %}
{% block container %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Formations
                    <small>Tout niveaux</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Services</li>
                    
                    <li class="active">Formation Informatique</li>
                </ol>
            </div>
        </div>
        
        <!-- /.row -->
        <p>
            Développeurs Java J2EE, cette formation peut venir compléter votre éxpérience professionnelle A l’issue de la formation vous êtes capable de : <br/>
            - Analyser un cahier des charges techniques <br/>
            - Concevoir l’architecture technique d’un site web <br/>
            - Développer des applications <br/>
            - Développer des programmes de tâches planifiées. <br/>
            
        </p>
        <hr>

{% endblock%}