{% extends "irmasoftHomeBundle::layout.html.twig" %}
{% block container %}
    <link href="{{ asset('bundles/irmasofthome/css/one-page-wonder.css')}}" rel="stylesheet">
    <div class="container">

        <!-- Full Width Image Header -->
        <header class="intro-header">
            <div class="container" style="padding-left: 0px; padding-right: 0px;">
                <center>
                    <div class="headline">
                        <div class="container" style="padding-left: 0px; padding-right: -30px;">
                            <div class="Heading">
                                <h2>IRMASOFT - NOS SERVICES</h2>
                                <span class="subheading">
                                    Avec irmasoft entrez dans le monde de web 2.0
                                </span>
                                <hr class="small">  
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </header>

        <!-- Page Content -->
        <div class="container">

            <hr class="featurette-divider">

            <!-- First Featurette -->
            <div class="featurette" id="about">
                <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
                <h2 class="featurette-heading">Développement des sites et portails web
{#                    <span class="text-muted">Will Catch Your Eye</span>#}
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>

            <hr class="featurette-divider">

            <!-- Second Featurette -->
            <div class="featurette" id="services">
                <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
                <h2 class="featurette-heading">Solutions Internet et Intranet full web
{#                    <span class="text-muted">Is Pretty Cool Too.</span>#}
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>

            <hr class="featurette-divider">

            <!-- Third Featurette -->
            <div class="featurette" id="contact">
                <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
                <h2 class="featurette-heading">Applications mobiles et multimédia
                    <span class="text-muted">Will Seal the Deal.</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>

            <hr class="featurette-divider">

            <!-- Second Featurette -->
            <div class="featurette" id="services">
                <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
                <h2 class="featurette-heading">Maintenance et webmastering
{#                    <span class="text-muted">Is Pretty Cool Too.</span>#}
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
        <hr>

    {% endblock%}