{% extends "irmasoftHomeBundle::layout.html.twig" %}
{% block container %}
    <link href="{{ asset('bundles/irmasofthome/css/one-page-wonder.css')}}" rel="stylesheet">
    <div class="container">

        <!-- Full Width Image Header -->
        <header class="intro-header">
            <div class="container" style="padding-left: 0px; padding-right: 0px;">
                <center>
                    <div class="headline">
                        <div class="container" style="padding-left: 0px; padding-right: -30px;">
                            <div class="Heading">
                                <h2>IRMASOFT - NOS SERVICES</h2>
                                <span class="subheading">
                                    Solutions intéractives personnalisées
                                </span>
                                <hr class="small">  
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </header>

        <!-- Page Content -->
        <div class="container">

            <hr class="featurette-divider">

            <!-- First Featurette -->
            <div class="featurette" id="about">
                <img class="featurette-image img-rounded img-responsive pull-right" 
                     width='40%'
                     src="{{ asset('bundles/irmasofthome/images/web.jpg') }}">
                <h2 class="featurette-heading">Développement des sites et portails web
{#                    <span class="text-muted">Will Catch Your Eye</span>#}
                </h2>
                <p class="lead">
                Votre entreprise et vos produits sont uniques ! IRMASOFT l'a bien compris, et vous offre des solutions performantes pour créer un site web personnalisé qui incarne le plus fidèlement possible votre culture et vos valeurs.     
                </p>
            </div>

            <hr class="featurette-divider">

            <!-- Second Featurette -->
            <div class="featurette" id="services">
                <img class="featurette-image img-rounded img-responsive pull-left" 
                     width="50%" src="{{ asset('bundles/irmasofthome/images/web2.jpg') }}">
                <h2 class="featurette-heading">Solutions Internet et Intranet full web
{#                    <span class="text-muted">Is Pretty Cool Too.</span>#}
                </h2>
                <p class="lead">
                    En vue de répondre au mieux aux exigences de votre activité et 
                    aux impératifs de réactivité qu'impose le marché, 
                    IRMASOFT développe pour vous des Solutions Intranet/Extranet, 
                    basées Web, sur-mesure & performantes.
                </p>
            </div>

            <hr class="featurette-divider">

            <!-- Third Featurette -->
            <div class="featurette" id="contact">
                <img class="featurette-image img-rounded img-responsive pull-right" 
                     width="30%" src="{{ asset('bundles/irmasofthome/images/web3.jpg') }}">
                <h2 class="featurette-heading">Applications mobiles et multimédia
{#                    <span class="text-muted">Will Seal the Deal.</span>#}
                </h2>
                <p class="lead">
                Vous souhaitez donner une autre dimension à votre communication, 
                avoir plus d'impact et fidéliser vos clients ? 
                Rien de plus simple : Prenez place dans leur téléphone !    
                </p>
            </div>

            <hr class="featurette-divider">

            <!-- Second Featurette -->
            <div class="featurette" id="services">
                <img class="featurette-image img-circle img-responsive pull-left" 
                     src="http://placehold.it/500x500">
                <h2 class="featurette-heading">Maintenance et webmastering
{#                    <span class="text-muted">Is Pretty Cool Too.</span>#}
                </h2>
                <p class="lead">
                    A l'image de votre entreprise, votre site web se doit d'évoluer, 
                    d'innover régulièrement et d'apporter une dynamique indispensable à la 
                    réussite de votre stratégie de communication sur Internet. 
                    En plus d'assurer l'intérêt des internautes, la mise à jour ainsi que 
                    la maintenance permettent à votre site Web d'évoluer et de garantir sa crédibilité.
                </p>
            </div>
        </div>
        <hr>

    {% endblock%}